xml-resources/web-service-references/WsClient/wsdl/localhost_8733/Design_Time_Addresses/WcfServiceTempConversion/Service1/.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceTempConversion/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceTempConversion"/><xs:element name="ConvertirVersCelcius"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="temp" type="xs:double"/><xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="machineName" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="ConvertirVersCelciusResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ConvertirVersCelciusResult" type="xs:double"/></xs:sequence></xs:complexType></xs:element><xs:element name="ConvertirVersFarh"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="temp" type="xs:double"/><xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="machineName" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="ConvertirVersFarhResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ConvertirVersFarhResult" type="xs:double"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetAll"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="GetAllResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfConversion" xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceTempConversion"/></xs:sequence></xs:complexType></xs:element></xs:schema>